// quasar.variable.scss
// It's highly recommended to change the default colors
// to match your app's branding.

// $gray: #747474;
// $gray-10: darken($gray, 100%);
// Import Quasar variables

$primary: #478d45;
$secondary: #3f1900;
$accent: #478d45;

$dark: #1d1d1d;
$grey1: #747474;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
